<section id='closest_stations'>

  <% counter = 1 %>
  <% facade.stations.each do |station| %>
    <section id='station-<%= counter %>'>
      <h2>Station <%= counter %></h2>
      <li>Station Name: <%= station.name %></li>
      <li>Station Address: <%= station.address %></li>
      <li>Station Fuel Type: <%= station.fuel_type %></li>
      <li>Station Access Time: <%= station.access_times %></li>
      <br>
    </section>
    <% counter += 1 %>
  <% end %>
</section>
